body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#streams_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  flex: 1;
  flex-wrap: wrap;
}

.video_stream_wrap {
  width: 32%;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  margin: 5px;
}

.video_player_wrap {
  /* padding: 15px; */
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .video_stream_wrap {
    width: 49%;
  }
}
@media only screen and (max-width: 700px) {
  .video_stream_wrap {
    width: 99%;
  }
}

.user_name_wrap {
  background-color: #eee;
  border-radius: 10px;
  padding: 2px 5px;
  font-size: 9px;
  font-style: italic;
  margin-right: 5px;
}

.bottom_absolute_wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(96, 96, 96, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.absolute_wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;
  display: none;
}

.absolute_wrap h3 {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: black;
  background-color: #eee;
  padding: 2px 10px;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
}
.absolute_wrap h4 {
  font-size: 10px;
  text-align: center;
  color: #fff;
  font-style: italic;
}

.btn {
  cursor: pointer;
  padding: 1px;
  background-color: transparent;
  color: #fff;
  border-radius: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  margin: 0 5px;
}
.end_call_button {
  padding: 2px 10px;
  display: inline-block;
  background-color: red;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fff;
  font-weight: 700;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.btn span {
  font-size: 18px;
  color: #fff;
}
